{% extends 'base.html'%}

{% block content %}
<div class="body" style="background-image:url('https://img.freepik.com/free-photo/different-garbage-materials-with-recycling-symbol-table-background_53476-3609.jpg?size=626&ext=jpg'); height:700px;">
      <h1>Hello</h1>
</div>

<style>
.body{
    background-image:url('https://img.freepik.com/free-photo/different-garbage-materials-with-recycling-symbol-table-background_53476-3609.jpg?size=626&ext=jpg');
    background-size:cover;
    height:700px;
    margin-top:0px;
}
<!--h1{-->
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    height:700px;
}
</style>

{%endblock%}